.list-window {
    width: 100%;
    min-height: 100%;

    &--off {
        display: none;
    }

    &__title {
        padding: 15px;
        color: $background-color;
        background-color: $accent;
        font-family: $main-font;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1px;
    }

    &__list-container {
        margin: 1rem;
    }

    &__lits-item {}

    &__return-button {}
}