.user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    width: 100%;
    border-bottom: 1px solid $accent-dark;
    font-family: $main-font;

    &__text {
        color: $accent-dark;
        font-weight: 300;

        &--main {
            font-weight: 700;
        }

        &--sub-title {
            display: inline;
            font-weight: 700;
        }

        &--href {
            display: inline;
            color: $accent;
            font-weight: 400;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                color: $accent-dark;
            }
        }
    }

    &__avatar-container {
        align-self: flex-start;
    }

    &__avatar-img {
        margin-right: 1rem;
        width: 50px;
        height: 50px;
    }

    &__info {
        flex-grow: 1;
    }

    &__info-main {
        display: flex;
        justify-content: space-between;
    }

    &__info-main-text {}

    &__toggle-btn {
        align-self: center;
        transition: 0.5s;

        &:hover>.fa-arrow-circle-down {
            color: lighten($accent, 15%);
        }

        &--clicked {
            transform: rotate(180deg);
        }

        .fa-arrow-circle-down {
            color: $accent;
            border-radius: 50%;
            font-size: 1.5rem;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    &__info-additional {
        display: block;

        &--off {
            display: none;
        }
    }
}