// fonts:
$main-font: 'Sulphur Point',
arial,
sans-serif;

//colors: #FCFFF5, #D1DBBD, #91AA9D, #3E606F, #062026
$background-color: #FCFFF5;
$mainWindow-color: #D1DBBD;
$main-color: #91AA9D;
$accent: #3E606F;
$accent-dark: #062026;